<style type="text/css" src="header.component.css"></style>

<nav aria-label="breadcrumb" class="nav1">
  <ol class="breadcrumb">
  	<li class="breadcrumb-item"><a href="/home"><img src="assets/images/logo.png"></a></li>
    <li class="breadcrumb-item"><a href="/home">Inicio</a></li>
    <li class="breadcrumb-item"><a href="/services">Servicios</a></li>
    <li class="breadcrumb-item"><a href="/news">Novedades</a></li>
    <li class="breadcrumb-item"><a href="/info">¿Quiénes Somos?</a></li>
    <li class="breadcrumb-item"><a href="/contact">Contáctanos</a></li>
  </ol>
</nav>