<style type="text/css" src="home.component.css"></style>

<br><br>

<div class="container">
	<h1 class="display-3 text-white">Limpiezas Mario</h1>
	<div>
		<img src="assets/images/limpieza.png" id="main_img">
	</div>
</div>

<div class="container">
	<div class="card">
	  <div class="card-header">
	    Servicios
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">Escoja el servicio que necesite</h5>
	    <p class="card-text">Limpiezas Mario ofrece servicios para distintos ámbitos, infórmese y sepa qué servicio es más conveniente para usted.</p>
	    <a href="/services" class="btn btn-primary">Comenzar</a>
	  </div>
	</div>
</div>

<div class="container">
	<div class="card">
	  <div class="card-header">
	    Información
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">¿Qué es "Limpiezas Mario"?</h5>
	    <p class="card-text">¿Quiere saber acerca de nosotros?¿Cómo trabajamos? Obtenga toda la información que necesite aquí.</p>
	    <a href="/info" class="btn btn-primary">Informarse</a>
	  </div>
	</div>
</div>

<div class="container">
	<div class="card">
	  <div class="card-header">
	    Novedades
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">¿Qué hay de nuevo?</h5>
	    <p class="card-text">Si está familiarizado con nuestros servicios también podría interesarle las novedades que tenemos aquí.</p>
	    <a href="/news" class="btn btn-primary">Ver</a>
	  </div>
	</div>
</div>

<br><br><br>