<br><br>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="assets/images/s_basico.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Servicio Básico</h5>
      <p class="card-text">¿Debes asear tu hogar pero no quieres hacerlo? Este servicio es ideal para hogares que requieran de servicios de limpieza básicos.</p>
      <a href="/services" class="btn btn-primary">Comenzar</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/images/s_avanzado.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Servicio Avanzado</h5>
      <p class="card-text">¿Necesitas servicios de limpieza urgente que no puedes hacer tu? Este servicio dejará como nuevo el lugar que creias imposible de limpiar.</p>
      <a href="/services" class="btn btn-primary">Comenzar</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/images/s_empresas.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Servicio Para Empresa</h5>
      <p class="card-text">¿Necesitas servicios de limpieza en tu empresa? Contacta con nosotros y te brindaremos el mejor servicio que puedas conseguir.</p>
      <a href="/services" class="btn btn-primary">Comenzar</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
